{% extends 'base.html.twig' %}

{% block body %}
    <h1>Generotipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ generoTipo.id }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ generoTipo.genero }}</td>
            </tr>
            <tr>
                <th>Abrev</th>
                <td>{{ generoTipo.abrev }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('generotipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('generotipo_edit', { 'id': generoTipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
