{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paistipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paisTipo.id }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ paisTipo.pais }}</td>
            </tr>
            <tr>
                <th>Abrev</th>
                <td>{{ paisTipo.abrev }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paistipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paistipo_edit', { 'id': paisTipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
